@use "../styles/mixins";

.msc--sidebar {
  width: 20%;
  border-right: 2px solid var(--msc-white);

  .msc--sidebar--logo {
    @include mixins.flex-row;
    align-items: center;
    justify-content: center;
    height: 100px;

    span {
      font-size: 28px;
    }
  }

  .msc--sidebar--main {
    @include mixins.flex-row;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .msc--sidebar--item {
    height: 50px;
    width: 100%;
  }
}
