@import "./styles/palette";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap");

html {
  background: var(--msc-primary);
}

.msc--font--primary__slim {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}

.msc--font--primary__regular {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

.msc--font--primary__thick {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
